h1{text-align: center;25px}
body {
    background-image: url("http://dianepayne.typepad.com/.a/6a0115708b17e7970b017c381bf890970b-pi"); 
  background-repeat:no repeat;background-size: 90%;font-family: 'Markazi Text', serif;font-size: 20px}
  
