<!DOCTYPE html>
    <html>
        
        <head>
            <title>All Resources</title>
            <link rel = "stylesheet" href = "css/style2.css">
        </head>
        
        <body>
          <h1>Here are some helpful websites to check out!</h1>
            <h3>Links to find employment services:<h3>
                <br>
                <a href=https://www.uber.com/drive/requirements/ > Uber </a>
                <br>
                <a href=https://www.snagajob.com/find-jobs> SnagAJob </a>
                <br>
                <a href=https://ratracerebellion.com/7-companies-hiring-food-delivery-drivers-25hr/> Food Delivery </a>
                <br>
                <a href=https://communitygarden.org/find-a-garden/> Community Gardens </a>
            <br>
            <br>
            <h3>Links to find shelter services:<h3>
                <br>
                <a href=https://www.hudexchange.info/housing-and-homeless-assistance/> Housing Assistance </a>
                <br>
                <a href=https://www.homelessshelterdirectory.org/ > Shelter Directory </a>
                <br>
                <a href=https://www.1800runaway.org> Runaway Safeline </a>
            <br>
            <br>
            <h3>Links to find healthcare services:<h3>
                <br>
                <a href=https://www.healthcare.gov/medicaid-chip/getting-medicaid-chip/> Medicaid & CHIP coverage</a>
                <br>
                <a href=https://www.yelp.com/search?find_desc=Free+Health+Clinics&find_loc=Los+Angeles%2C+CA> Free Health Clinics </a>
                <br>
                <a href=https://www.sabancommunityclinic.org > Saban Community Clinic </a>
            <br>
            <br>
            <h3>Links to find education services:<h3>
                <br>
                <a href=http://lacountylibrary.org/diploma/> Free Accredited Online High School Diploma for Adults </a>
                <br>
                <a href=https://www.edx.org/school/harvardx> Free Online Harvard Classes </a>
                <br>
                <a href=https://www.uopeople.edu/application/> Tuition-Free Accredited Online College </a>
                <br>
        </body>
        
    </html>