<!DOCTYPE html>
    <html>
      
      <head>
        <title> Life_help.com </title>
        <link rel = "stylesheet" href = "css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
      </head> 
      
      <body>
        <h1  id="life_help"> @Life Help </h1>
        <h1 id="life_help1">Hello, welcome to @Life Help. This website is designed to help connect you to resources and services.</h1>
        <br>
        <div id="Questions">
        <h3>Please fill out the anonymous survey below to get a personalized list of links to help you!</h3>
        <img src="https://qph.fs.quoracdn.net/main-qimg-06544605342d910b700b9cc055fe860c" id="pic">

        <form method=POST>
         <h3> Select one option that applies to you.</h3>
         <input type="radio" name="q1" value="shelter"> seeking shelter.
         <br>
         <input type="radio" name="q1" value="healthcare"> seeking healthcare.<br>
         <input type="radio" name="q1" value="employment"> seeking employment.<br>
         <input type="radio" name="q1" value="education"> seeking education.
         <br>
         <br>
         <h3> Select another option that applies to you. </h3>
         <input type="radio" name="q2" value="shelter"> seeking shelter.<br>
         <input type="radio" name="q2" value="healthcare">  seeking healthcare.<br>
         <input type="radio" name="q2" value="employment">  seeking employment.<br>
         <input type="radio" name="q2" value="education"> seeking education.
         <br>
         <br>
         <input type="submit" value="Submit">
         <br>
        </form>
      
       </div>     
   </body>
        
 </html>