<!DOCTYPE html>
<html>
  
  <head>
    <title>@LifeHelp Resources</title>
    <link rel = "stylesheet" href = "css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  </head>
 
  
  <body>
    <h1>Here are your personalized @LifeHelp Tips!</h1>
    <div id = "tips"><%=@results%></div>
    <br>
    <br>
    <br>
    <form method=POST action="/all">
      <br>
      <input type="submit"  value="Get Extra Info and Resources Here!">
    </form>
  </body>
  
</html>